body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    background: url('../img/diseñoWebDegradado.png') no-repeat center center/cover;
    transition: background 0.3s ease;
}

header {
    padding: 10px 20px;
}

.menu {
    display: flex;  
    justify-content: flex-end;
    list-style: none;
    margin  : 30px;
    margin-right: 10px;
}

.menu a {
    margin-left: 30px;
    color: #ffa600;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu img{
    margin: -10px;
    margin-left: 30px;
    width: 40px;
}

.principal {
    text-align: center;
    padding: 50px 20px;
    color: #ffa600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.principal h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    /* -webkit-text-stroke: 1px black; */
    text-shadow:  10px 10px 10px rgba(0, 0, 0, 0.7);
    margin-right: 8rem;
}

.reproductor {
    margin-top: 20px;
    margin-right: 8rem;
}

.reproductor .play {
    background-color: #ffa600;
    border: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.episodios {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.episodios img {
    width: 280px;
    border-radius: 10px;
    border: black solid 1px;
    transition: transform 0.3s ease;
}

footer {
    text-align:center;
    line-height: 80px;
    color: white;
    height: 50px
}

.episodios img:hover {
    transform: scale(1.05);
}

.color1 {
    color: rgb(255, 255, 255)
}